<!DOCTYPE HTML>
   <html>
   <head>
      <title>Главная</title>
      <meta charset="utf-8">
   </head>
   <body>
      <p>Вторая Мировая</p>
      <a href="https://ru.wikipedia.org/wiki/%D0%92%D0%B5%D0%BB%D0%B8%D0%BA%D0%BE%D0%B1%D1%80%D0%B8%D1%82%D0%B0%D0%BD%D0%B8%D1%8F_%D0%B2%D0%BE_%D0%92%D1%82%D0%BE%D1%80%D0%BE%D0%B9_%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%BE%D0%B9_%D0%B2%D0%BE%D0%B9%D0%BD%D0%B5#:~:text=%D0%92%D0%B5%D0%BB%D0%B8%D0%BA%D0%BE%D0%B1%D1%80%D0%B8%D1%82%D0%B0%D0%BD%D0%B8%D1%8F%20%D1%83%D1%87%D0%B0%D1%81%D1%82%D0%B2%D0%BE%D0%B2%D0%B0%D0%BB%D0%B0%20%D0%B2%D0%BE%20%D0%92%D1%82%D0%BE%D1%80%D0%BE%D0%B9%20%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%BE%D0%B9,%D0%BA%D0%BE%D0%BD%D1%86%D0%B0%202%20%D1%81%D0%B5%D0%BD%D1%82%D1%8F%D0%B1%D1%80%D1%8F%201945%20%D0%B3%D0%BE%D0%B4%D0%B0.">Великобритания</a>
      <a href="https://ru.wikipedia.org/wiki/%D0%9D%D0%B0%D1%86%D0%B8%D1%81%D1%82%D1%81%D0%BA%D0%B0%D1%8F_%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8F">Третий рейх</a>
      <a href="https://ru.wikipedia.org/wiki/%D0%98%D1%82%D0%B0%D0%BB%D0%B8%D1%8F_%D0%B2%D0%BE_%D0%92%D1%82%D0%BE%D1%80%D0%BE%D0%B9_%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%BE%D0%B9_%D0%B2%D0%BE%D0%B9%D0%BD%D0%B5">Италия</a>
      <a href="https://ru.wikipedia.org/wiki/%D0%A3%D1%87%D0%B0%D1%81%D1%82%D0%B8%D0%B5_%D0%A1%D0%A8%D0%90_%D0%B2%D0%BE_%D0%92%D1%82%D0%BE%D1%80%D0%BE%D0%B9_%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%BE%D0%B9_%D0%B2%D0%BE%D0%B9%D0%BD%D0%B5">США</a>
      <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%A1%D0%A1%D0%A0_%D0%B2%D0%BE_%D0%92%D1%82%D0%BE%D1%80%D0%BE%D0%B9_%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%BE%D0%B9_%D0%B2%D0%BE%D0%B9%D0%BD%D0%B5">СССР</a>
      <a href="https://ru.wikipedia.org/wiki/%D0%94%D0%B0%D0%BD%D0%B8%D1%8F_%D0%B2%D0%BE_%D0%92%D1%82%D0%BE%D1%80%D0%BE%D0%B9_%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%BE%D0%B9_%D0%B2%D0%BE%D0%B9%D0%BD%D0%B5">Дания</a>
      <a href="https://ru.wikipedia.org/wiki/%D0%9D%D0%BE%D1%80%D0%B2%D0%B5%D0%B3%D0%B8%D1%8F_%D0%B2%D0%BE_%D0%92%D1%82%D0%BE%D1%80%D0%BE%D0%B9_%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%BE%D0%B9_%D0%B2%D0%BE%D0%B9%D0%BD%D0%B5">Норвегия</a>
      <a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%BE%D0%BB%D1%8C%D1%88%D0%B0_%D0%B2%D0%BE_%D0%92%D1%82%D0%BE%D1%80%D0%BE%D0%B9_%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%BE%D0%B9_%D0%B2%D0%BE%D0%B9%D0%BD%D0%B5">Польша</a>
      <a href="https://ru.wikipedia.org/wiki/%D0%AE%D0%B3%D0%BE%D1%81%D0%BB%D0%B0%D0%B2%D1%81%D0%BA%D0%B0%D1%8F_%D0%BE%D0%BF%D0%B5%D1%80%D0%B0%D1%86%D0%B8%D1%8F">Югославия</a>
      <a href="https://ru.wikipedia.org/wiki/%D0%A4%D1%80%D0%B0%D0%BD%D1%86%D0%B8%D1%8F_%D0%B2%D0%BE_%D0%92%D1%82%D0%BE%D1%80%D0%BE%D0%B9_%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%BE%D0%B9_%D0%B2%D0%BE%D0%B9%D0%BD%D0%B5">Франция</a>
      <a href="http://localhost:63342/pythonProject/templates/table.html?_ijt=qsi2bltp7ajhlutotisk1ka7jh&_ij_reload=RELOAD_ON_SAVE">Мой Второй проект</a>
      <a href="http://localhost:63342/pythonProject/templates/index.html?_ijt=stuhd44esr32t32atq4c2mqb6k&_ij_reload=RELOAD_ON_SAVE">Мой другой проект</a>
   </body>
</html>