<title>Class 11-B marks</title>
<table>
  <caption>11-B class</caption>
  <tr>
    <th></th>
    <th>Physic</th>
    <th>Algebra</th>
    <th>History</th>
  </tr>
  <tr>
    <th>Prigojin jena</th>
    <td>4</td>
    <td>5</td>
    <td>3</td>
  </tr>
  <tr>
    <th>Kim chen in</th>
    <td>5</td>
    <td>5</td>
    <td>3</td>
  </tr>
  <tr>
    <th>Astolfo </th>
    <td>4</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <tr>
    <th>Adolf Hitler </th>
    <td>2</td>
    <td>2</td>
    <td>2</td>
  </tr>
</table>